@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');

body{
  background: #FFD700;
  padding: 0px;
  margins: 0px;
}
h1 {
  color: Black;
  font-family: 'Diplomata', regular 400;
  font-size:  60px;
}
.Bumblebee{
  text-decoration: underline;
}


p{
  padding: 32px;
  display: inline;
}
